.katex-display>.katex {
  text-align:left!important;
}

#of-tensor-programs {
  margin-top: -24px
}

#recommended-books,
#recommended-books-1,
#recommended-books-2,
#recommended-lectures,
#recommended-lectures-1,
#recommended-lectures-2
{
  margin-bottom: -16px;
}

#recommended-lectures,
#recommended-lectures-1,
#recommended-lectures-2 {
  margin-top: 0;
}

#mathematics-for-machine-learning,
#tensor-programming,
#tensor-interpretation-and-compilation {
  margin-bottom: -16px;
}

.full-bleed {
  width: 75vw;
  position: relative;
  left: 50%;
  margin-left: -37.5vw;
}

.full-bleed iframe {
  width: 100%;
  display: block;
}